@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'arial', sans-serif;
    /* background-color: #26658C; */
    background-image: url('../Images/Pic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    opacity: 0.9;
    /* padding: 20px; */
    color: white;
    
}  
.nav {
    position: left;
    background-color: #023859;
    justify-content: space-between;
    display: flex;
    /* color: white; */
    /* text-decoration: none; */
    padding:30px ;
    /* z-index: 1; */
    /* transition: 0.2s; */
    /* border: solid 1px; */
      /* text-align: right; */
             background-color: rgb(13, 10, 37);
             /* z-index: 1; */
            /* padding-right: 90px; */
            /* position: fixed; */
            /* left: 0px; */
            /* top: 0px; */
            /* width: 100%; */
             /* list-style: none; */
             /* display: inline-block; */
             /* padding: 20px; */
                  /* text-decoration: none;  */
            /* color: rgb(255, 255, 255);  */
/* color: aqua; */
}
.container{
   margin: 60px;
}    
.LM {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    color:white;
    background-color: rgb(6, 118, 6);
}
.LM1 {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    color:white;
    background-color: rgb(6, 118, 6);
}
.nav2 a:hover{
    justify-content:space-between;
    display: flex;
    text-decoration: none;
    color: aqua;
    word-spacing: 80%;
    list-style: none;
}
.header{
    text-align: center;
    color: white;

}
