body{
    background: linear-gradient(360deg, );
}
  .nav {
    display: flex;
    gap: 30px;
    list-style: none;
    background-color: #384358;
    /* width: 60%; */
    text-align: center;
    margin:0 auto;
    /* border: 1px solid #384358; */
    border-radius: 20px;
    width: 460px;
    height: 100px;
}
.nav a{
    text-decoration: none;
    color: #384358;
        color: aliceblue;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin:0 auto;
        margin-left:auto ;
        margin-right: auto;
    
}
.nav a:hover{
color: aqua;
box-shadow: steelblue;
}
.nav1 a:hover{
    color: aquamarine;
}
.box{
    display: flex;
    gap: 20px;
    top: 5%;
   
}
